.signup_container{
	margin-top: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup_form_container{
	display: flex;
	justify-content: center;

	border: 2px solid black;
	width: 70%;
}

.left{
	height: 100% !important;
	background-color: rgb(112,0,0);

}

.right form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	
}